[submodule "hotline/3rd-party/glfw"]
	path = hotline/3rd-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "hotline/3rd-party/glm"]
	path = hotline/3rd-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "hotline/3rd-party/box2d"]
	path = hotline/3rd-party/box2d
	url = https://github.com/erincatto/box2d.git
